*{
      box-sizing: border-box;
      padding: 0;
      margin: 0;
}

.bannae-secton-container{
      background-color: blanchedalmond;
      max-width: 1536px;
      height: 600px;
     
}
.banner-parent-container{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90%;
      margin: 0 auto;
      height: 600px;
}
.banner-text-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 600px;
}
.banner-text-container h1{
      font-size: 50px;
     

}
.banner-text-container p{
      color: gray;
      margin-left: 120px;
      margin-top: 20px;
}
.banner-text-container button{
      background-color: red;
      padding: 15px 30px;
      border: none;
      border-radius: 5px;
      margin-top: 20px;
      margin-right: 270px;
}
.banner-image-container{
      width: 50%;
      height: 600px;
      
}
.banner-image-container img{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      height: 600px;
      
}